{%- set external_urls = {
  'home': 'https://github.com/catalyst-team/catalyst',
  'catalyst_docs': 'https://catalyst-team.github.io/catalyst/index.html',
  'catalyst_github': 'https://github.com/catalyst-team/catalyst',
  'catalyst_github_issues': 'https://github.com/catalyst-team/catalyst/issues',
  'alchemy_url': 'https://alchemy.host',
  'reaction_github': 'https://github.com/catalyst-team/reaction',
  'mlcomp_github': 'https://github.com/catalyst-team/mlcomp',
  'catalyst_team_github': 'https://github.com/catalyst-team',
  'catalyst_neuro_github': 'https://github.com/catalyst-team/neuro',
  'catalyst_classification_github': 'https://github.com/catalyst-team/classification',
  'catalyst_segmentation_github': 'https://github.com/catalyst-team/segmentation',
  'catalyst_gan_github': 'https://github.com/catalyst-team/gan',
  'contributing': 'https://github.com/catalyst-team/catalyst/blob/master/CONTRIBUTING.md',
  'patreon': 'https://www.patreon.com/catalyst_team',
  'telegram': 'https://t.me/catalyst_team',
  'twitter': 'https://twitter.com/catalyst_core',
  'ods': 'https://ods.ai/en/',
}
-%}
